header{
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:150px;
}
body{
    margin: 10px;
    padding:10px;
}
h1{
    text-align: center;
    color: #ffffff;
    font-family: serif;
    font-size: 40px;;
    text-transform: lowercase;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    background-color: #eeeeee;
}
nav a{
    display:inline-block;
    padding:15px 60px 15px;
    border-radius:5px;
    margin-left: 5%;
    margin-right:5%;
    background-color: rgba(255, 255, 255,0.3);
    text-decoration: none;
}
a.active{
    background-color: white;
    color:#0000ff
}
aside.left {
    width: 15%;
    height: 15%;
    display: inline-block;
    background: #527219;
    padding: 2%;

}
aside.left img {
    border: 2px solid #000;
    width: 85%;
    height: 85%;
    float:left;
    margin-bottom: 30px;
    clear:left;
}
section.right {
    float: right;
    width: 80%;
}
table{
    width: 80%;
    margin-left: 10%;
    line-height: 35px;
}
table td{
    background-color: #cee7a3;
    text-align: center;
    opacity: 0.75;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
table th{
    background-image: linear-gradient(to bottom,#83b52b,#4f6d1a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.8;
    color: #ffffff;
}
table th:nth-child(1){
    text-align: left;
    padding-left: 15px;
}
table td:hover,th:hover{
    opacity: 1;
}
table tr td:nth-child(1){
    text-align:left;
    padding-left: 15px;
}
table:last-child{
    margin-bottom: 100px;
}

