header{
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg") ;
    background-color: #000;
    background-repeat: no-repeat;
    background-size:cover;
    height:150px;
}
body{
    margin: 10px;
    padding:10px;
}
h1{
    text-align: center;
    color: #ffffff;
    font-family: serif;
    font-size: 40px;;
    font-variant-caps:all-small-caps;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    background-color: #eeeeee;
}
nav a{
    display:inline-block;
    padding:15px 60px 15px;
    border-radius:5px;
    margin-left: 5%;
    margin-right:5%;
    background-color: rgba(255, 255, 255,0.3);
    text-decoration: none;
}
a.active{
    background-color: white;
    color:#0000ff
}
aside.left {
    width: 15%;
    height: 15%;
    display: inline-block;
    background: #527219;
    padding: 2%;
}
aside.left img {
    border: 2px solid #000;
    width: 85%;
    height: 85%;
    float:left;
    margin-bottom: 30px;
    clear:left;
}
section.right {
    float: right;
    width: 80%;
}
